$mobile: 580px;
$tablet: 768px;
$laptop: 1280px;
$desktop: 1600px;

@mixin mobile-up {
    @media (min-width : $mobile) {
        @content;
    }
}

@mixin mobile-down {
    @media (max-width : ($mobile - 1)) {
        @content;
    }
}

@mixin tablet-up {
    @media (min-width : $tablet) {
        @content;
    }
}

@mixin tablet-down {
    @media (max-width : ($tablet - 1)) {
        @content;
    }
}

@mixin laptop-up {
    @media (min-width : $laptop) {
        @content;
    }
}

@mixin laptop-down {
    @media (max-width : ($laptop - 1)) {
        @content;
    }
}

@mixin desktop-up {
    @media (min-width : $desktop) {
        @content;
    }
}

@mixin desktop-down {
    @media (max-width : ($desktop - 1)) {
        @content;
    }
}
