$color: (
    TrueBlack: #000000,
    TrueWhite: #FFFFFF
);

$font-base: 16; // px

@function color($key, $alpha: 1) {
	@return rgba(map-get($color, $key), $alpha);
}

@function rem($target: 16) {
    @return unquote(calc($target / $font-base) + "rem");
}